[Unit]
Description=MariaDB instance %i
After=network.target

[Service]
ExecStart=/usr/sbin/mariadbd --defaults-file=/etc/%i/my.cnf
Restart=on-failure
RestartSec=3
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
